header {
    background: #222;
    color: white;
    padding: 20px;
}

.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 250px;
    padding: 20px;
    background: #f7f7f7;
}

input[type="checkbox"] {   /* Attribute selector */
    margin-right: 10px;
}

/* Product Grid */
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product-card {
    width: 220px;
    padding: 15px;
    border: 2px solid #ccc;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 8px #ccc;
    transition: 0.3s;
}

.product-card img {      /* Descendant selector */
    width: 100%;
}

.product-card:hover {     /* Pseudo-class */
    transform: scale(1.05);
}

/* Even product */
.product-card:nth-child(even) {
    background: #f0faff;
}

/* Cart */
#cart {
    width: 250px;
    padding: 20px;
    background: #eaf5ff;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #0056b3;
    color: white;
}

button:hover {
    background: #003f80;
}